:root {
  --background_color: #000000;
  --text_color: #FFFFFF;
  --alt_color: #A57A03;

  --navbar_padding: 0.5em;
}

/* General */

* {
  color: var(--text_color);
  font-size:large;
}

body {
  background-color: var(--background_color);
}
  
button {
  background-color: var(--alt_color);
  border-radius: 1em;
  border: 0;
  box-shadow: none;
  color: var(--text_color);
  margin: 1em;
  border: 0.125em solid var(--text_color);
}
  
.dropdown button {
  border-radius: 0;
}

.header .dropdown {
  position: relative; 
  display: inline-block;
}
  
.dropbtn {
  background-color: var(--background_color); 
  color: var(--text_color);
  padding: 10px; 
  border: none;
  cursor: pointer;
}
  
.dropdown-content {
  display: none; 
  background-color: transparent; 
  width: 100%;
  box-shadow: none; 
}
  
.dropdown-content, .dropdown-content { 
  display: none; 
}

.hidden {
  display: none !important;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Banner */

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2em;
    padding: 0em;
}

#colorbar {
    background-color: var(--alt_color);
    width: 100%;
    height: 3em;
    margin-bottom: 1em;
}

#navbar >a, #navbar >div {
    display: flex;
    align-items: center;
    width: 5em;
    height: 100%;
    font-size: 1.5em;
    padding: var(--navbar_padding);
    text-decoration: none;
}

#navbar li {
  list-style: none;
}

#navbar .selected {
    background-color: color-mix(in srgb, var(--alt_color) 50%, var(--background_color) 50%);
    color: var(--text_color);
}

.banner_element:hover {
  background-color: color-mix(in srgb, var(--alt_color) 80%, var(--background_color) 20%);
}

.banner_element:hover ul {
  background-color: var(--background_color);
  display: block;
}

.banner_element:not(:hover) ul {
  display: none;
}

.banner_element ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown:hover {
  display: block;
}

.banner_element ul:hover {

}